
.nav, h1, h2, h3, p {
    font-family: 'Raleway';
    color: white;
}

.nav-item {
    margin: 10px;
    color: white;
    font-size: 17px;
}

.nav-item:hover {
    color: black;
    transition: 0.5s;
}

.nav-item:not(:hover) {
    color: white;
    transition: 0.5s;
}

nav:hover {
    background-color: darkgray;
    transition: 0.5s;
}

nav:not(:hover) {
    transition: 0.5s;
}

#particles-js {
    background-color: rgb(0,0,36);
}

#about {
    border: 1px solid white;
}

html {
   /* border: 1px solid green;*/
    height: 100%;
    padding: 0;
    margin: 0;
}

.container {
 /*   border: 1px solid white;*/
    position: absolute;
    left: 50%;
    top: 40%;
    height: 200px;
    margin-top: -100px; /* half of you height */
    width: 500px;
    margin-left: -250px; /* half of you width */
}

.about-container {
  /*  border: 1px solid white;*/
    min-height: 100%;
    position: relative;
    left: 55%;
    top: 40%;
    height: 400px;
    margin-top: -200px; /* half of you height */
    width: 800px;
    margin-left: -400px; /* half of you width */
}

#social-media a {
    color: white;
}

#social-media a:hover {
    color: black;
    transition: .5s;
}

#social-media a:not(:hover) {    
    transition: 1s;
}

#social-media li {
    display: inline;
    font-size: 25px;
    padding: 20px 30px;
}

body {
    background-color: rgb(0,0,36);
    height: 100%;
    position: relative;
}



h1, h3 {
    text-align: center;
    padding-bottom: 30px;
}

img {
    width:200px; 
    height:300px; 
    display: block; 
    margin-top: 25px; 
    margin-left: auto; 
    margin-right: auto;
}

button{
  margin-top: 40px;
  background: pink;
  color:#fff;
  border:none;
  position:relative;
  height:40px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:hover{
  background: rgb(0,0,36);
  color: pink;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: pink;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}

#code {
    width:400px; 
    height:300px; 
    display: block; 
    margin-top: 25px; 
    margin-left: auto; 
    margin-right: auto;
}



.exp-container {
    border: 1px solid white;
    position: relative;
    min-height: 100%;
}

#content-wrap {
    padding-bottom: 200px;
}
